{% extends 'base.html' %}
{% block content %}
<h1 class="page-header">Request info:</h1>
<ul class="request-info-list">
	<li>
		Request method:
		<span class="italics-emphasis">{{request.method}}</span>
	</li>
	<li>
		Request url:
		<span class="italics-emphasis">{{request.url}}</span>
	</li>
	<li>
		Request headers:
		<span class="italics-emphasis">{{request.headers}}</span>
	</li>
</ul>
<a href="{{url_for('index')}}" class="btn btn-default btn-large">
	back home
	<span class="glyphicon glyphicon-home"></span>
</a>
{% endblock %} 